<header class="header">
    <div class="header__inner">
        <div class="brand">
            <a routerLink="/" class="brand__link">
                <img src="/assets/images/logo.svg" alt="logo" class="brand__logo">
            </a>
        </div>
        <nav class="header__nav">
            <a routerLink="/signup">Homepage</a>
            <a routerLink="">Recipe Page</a>
            <a routerLink="">Pages</a>
            <a routerLink="">Buy</a>
        </nav>
        <div class="search">
            <!-- <input type="text" class="search__input" placeholder="Search"> -->
            <button class="search__button"><img class="search__icon" src="/assets/icons/searchIcon.svg" alt="search"></button>
        </div>
        <div class="user-avatar">
            <img class="user-avatar__image" src="http://localhost:5000/media/images/avatar.png" alt="avatar">
        </div>
    </div>
</header>