<header class="header">
    <div class="header__inner">
        <div class="brand header__brand">
            <a routerLink="/" class="brand__link">
                <img src="/assets/images/logo.svg" alt="logo" class="brand__logo">
            </a>
        </div>
        <div class="header__nav">
            <nav class="nav">
                <a routerLink="/" class="nav__link">Homepage</a>
                <a routerLink="/categories" class="nav__link">Categories</a>
                <a routerLink="#" class="nav__link">Pages</a>
                <a routerLink="#" class="nav__link">Buy</a>
            </nav>
        </div>
        <div class="header__controls">
            <button class="add-recipe" *ngIf="checkUrl()" (click)="goToAddRecipe()">Add recipe</button>
            <div class="search">
                <button class="search__button"><img class="search__icon" src="/assets/icons/searchIcon.svg" alt="search"></button>
            </div>
            <div class="user-avatar">
                <a (click)="goToProfile()" class="user-avatar__link">
                    <img class="user-avatar__image" [src]="avatar" alt="avatar">
                </a>
            </div>
        </div>
        
    </div>
</header>

<app-signin *ngIf="formType === 'login'" (switchForm)="changeFormType()" (closeForm)="closeForm()" />
<app-signup *ngIf="formType === 'regist'" (switchForm)="changeFormType()" (closeForm)="closeForm()"/>