<header class="header">
    <div class="header__inner">
        <div class="brand header__brand">
            <a routerLink="/" class="brand__link">
                <img src="/assets/images/logo.svg" alt="logo" class="brand__logo">
            </a>
        </div>
        <div class="header__nav">
            <nav class="nav">
                <a routerLink="/signup" class="nav__link">Homepage</a>
                <a routerLink="#" class="nav__link">Recipe Page</a>
                <a routerLink="#" class="nav__link">Pages</a>
                <a routerLink="#" class="nav__link">Buy</a>
            </nav>
        </div>
        <div class="header__controls">
            <div class="search">
                <button class="search__button"><img class="search__icon" src="/assets/icons/searchIcon.svg" alt="search"></button>
            </div>
            <div class="user-avatar">
                <a routerLink="/profile" class="user-avatar__link">
                    <img class="user-avatar__image" src="https://s3newlxpbulgakov.storage.yandexcloud.net/user_4022e72b-d181-4f24-a268-7287e48ea9cd/%D0%A1%D0%BD%D0%B8%D0%BC%D0%BE%D0%BA%20%D1%8D%D0%BA%D1%80%D0%B0%D0%BD%D0%B0%20%282%29_b9cf6e15-0b81-451a-ba02-48b0579a61b5.png" alt="avatar">
                </a>
            </div>
        </div>
        
    </div>
</header>