<app-header />
<main class="main">
    <div class="main__container first-screen">
        <img class="first-screen__image" src="/assets/images/cheesecake.png" alt="cheesecake">
        <div class="first-screen__content">
            <span class="first-screen__rating">85% would make this again</span>
            <h1 class="first-screen__title">Mighty Super Cheesecake</h1>
            <p class="first-screen__description">Look no further for a creamy and ultra smooth classic cheesecake recipe! No one can deny its simple decadence.</p>
        </div>
    </div>
    <div class="main__container second-screen">
        <h2 class="second-screen__title">Super Delicious</h2>
        <div class="second-screen__content">
            
        </div>
    </div>
</main>
<!-- <app-footer /> -->