.main{
    display: flex;
    flex-direction: column;
    gap: 60px;

    &__container{
        max-width: 1200px;
        margin-inline: auto;
    }
}

.first-screen{
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    padding-inline: 20px;
    overflow: hidden;

    &__image{
        width: 100%;
        border-radius: 20px 0 0 20px;
    }

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #E3F1FF;
        padding-inline: 20px;
        border-radius: 0 20px 20px 0;
    }

    &__rating{
        width: 80%;
    }

    &__title{
        font-family: auto;
        font-size: 38px;
        width: 80%;
    }

    &__description{
        font-size: 18px;
        width: 80%;
    }
}

.second-screen{
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__title{
        font-family: var(--secondary-font);
        font-size: 36px;
    }

    &__content{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }
}

.recipe-container{
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__content{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__image{
        width: 100%;
        border-radius: 6px;
        object-fit: cover;
    }

    &__rating{
        display: flex;
        gap: 2px;
    }

    &__name{
        font-size: 22px;
        font-weight: 600;
    }
}