.main{
    display: flex;
    flex-direction: column;
    margin-block: 40px;
    gap: 60px;

    &__container{
        max-width: 1200px;
        margin-inline: auto;
    }
}

.hero{
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    padding-inline: 20px;
    overflow: hidden;

    &__image{
        width: 100%;
        border-radius: 20px 0 0 20px;
    }

    &__content{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #E3F1FF;
        padding-inline: 20px;
        border-radius: 0 20px 20px 0;
    }

    &__rating{
        width: 80%;
    }

    &__title{
        font-family: auto;
        font-size: 38px;
        width: 80%;
    }

    &__description{
        font-size: 18px;
        width: 80%;
    }

    &__arrow-right{
        position: absolute;
        bottom: 10px;
        right: 10px;
        cursor: pointer;
    }
}

.recipes{
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
    gap: 30px;

    &__title{
        font-family: var(--secondary-font);
        font-size: 36px;
    }
}

.latest-recipes{
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
    gap: 30px;

    &__title{
        font-family: var(--secondary-font);
        font-size: 36px;
    }

    &__content{
        display: grid;
        grid-template-columns: repeat(4, minmax(270px, 1fr));
        gap: 20px;
    }
}

.categories{
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
    gap: 30px;

    &__title{
        font-family: var(--secondary-font);
        font-size: 36px;
    }

    &__content{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        gap: 10px;
    }
}
.category-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    &__content{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__image{
        width: 160px;
        height: 160px;
        border-radius: 6px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__name{
        font-size: 22px;
        font-weight: 600;
    }
}

.email-subscription{
    height: 520px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: #FFD7C9;
    padding: 20px;

    &__title{
        font-family: auto;
        font-size: 66px;
        font-weight: 700;
    }

    &__description{
        font-size: 16px;
        font-weight: 400;
    }

    &__input-container{
        width: 400px;
        display: grid;
        grid-template-columns: 1fr 80px;
    }

    &__input{
        border: none;
        padding-inline: 10px;

        &:focus{
            outline: none;
        }
    }
    
    &__button{
        border: none;
        font-size: 12px;
        height: 40px;
        background-color: #FF642F;
        color: #ffffff;
        transition: opacity 0.2s;
        cursor: pointer;

        &:hover{
            opacity: 0.8;
        }
    }

    &__terms{
        font-size: 12px;
    }

    &__link{
        text-decoration: underline;
        color: #000000;
        text-decoration-color: #FF642F;
    }
}