<app-header />
<main class="main">
    <div class="main__container first-screen">
        <img class="first-screen__image" src="/assets/images/cheesecake.png" alt="cheesecake">
        <div class="first-screen__content">
            <span class="first-screen__rating">85% would make this again</span>
            <h1 class="first-screen__title">Mighty Super Cheesecake</h1>
            <p class="first-screen__description">Look no further for a creamy and ultra smooth classic cheesecake recipe! No one can deny its simple decadence.</p>
        </div>
    </div>
    <div class="main__container second-screen">
        <h2 class="second-screen__title">Super Delicious</h2>
        <div class="second-screen__content">
            <div *ngFor="let item of recipes" class="recipe-container">
                <img class="recipe-container__image" [src]="item.image" alt="">
                <div class="recipe-container__content">
                    <svg *ngFor="let elem of item.rating" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --><path fill="currentColor" d="m7.625 6.4l2.8-3.625q.3-.4.713-.587T12 2t.863.188t.712.587l2.8 3.625l4.25 1.425q.65.2 1.025.738t.375 1.187q0 .3-.088.6t-.287.575l-2.75 3.9l.1 4.1q.025.875-.575 1.475t-1.4.6q-.05 0-.55-.075L12 19.675l-4.475 1.25q-.125.05-.275.063T6.975 21q-.8 0-1.4-.6T5 18.925l.1-4.125l-2.725-3.875q-.2-.275-.288-.575T2 9.75q0-.625.363-1.162t1.012-.763z"/></svg>
                    <div class="recipe-container__rating">{{ item.rating }}</div>
                    <span class="recipe-container__name">{{ item.name }}</span>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- <app-footer /> -->