<app-header />
<main class="main">
    <div class="main__container hero">
        <img class="hero__image" src="/assets/images/cheesecake.png" alt="cheesecake">
        <div class="hero__content">
            <div class="hero__rating">
                <span class="hero__rating__text">85% would make this again</span>
            </div>
            <h1 class="hero__title">Mighty Super Cheesecake</h1>
            <p class="hero__description">Look no further for a creamy and ultra smooth classic cheesecake recipe! No one can deny its simple decadence.</p>
            <img class="hero__arrow-right" src="/assets/icons/arrow-right.svg" alt="arrow right">
        </div>
    </div>
    <div class="main__container recipes">
        <h2 class="recipes__title">Super Delicious</h2>
        <app-recipe-cards [recipes]="recipes" />
    </div>
    <div class="main__container recipes">
        <h2 class="recipes__title">Sweet Tooth</h2>
        <app-recipe-cards [recipes]="recipes" />
    </div>
    <div class="main__container categories">
        <h2 class="categories__title">Popular Categoies</h2>
        <app-category-cards [categories]="categories" />
    </div>
    <div class="email-subscription">
        <h2 class="email-subscription__title">Deliciousness<br> to your inbox</h2>
        <p class="email-subscription__description">Enjoy weekly hand picked recipes and recommendations</p>
        <div class="email-subscription__input-container">
            <input type="text" class="email-subscription__input" placeholder="Email Address">
            <button class="email-subscription__button">JOIN</button>
        </div>
        <p class="email-subscription__terms">By joining our newsletter you agree to our <a href="#" class="email-subscription__link">Terms and Conditions</a></p>
    </div>
    <div class="main__container recipes">
        <h2 class="recipes__title">Latest Recipes</h2>
        <app-latest-recipe-cards [recipes]="latestRecipes" />
    </div>
</main>
<app-footer />