<app-header />
<main class="main">
  <h1 class="page-title">Add New Recipe Post</h1>
  <form class="add-recipe-form" enctype="multipart/form-data">
    <div class="form-group">
      <label class="form-group__label">Title</label>
      <input class="form-group__input" type="text" placeholder="Very tasty cake" name="title" [(ngModel)]="title">
      <span class="form-error-message" *ngIf="errors.title">{{ errors.title }}</span>
    </div>
    <div class="form-group">
      <select class="form-group__select" name="category" [(ngModel)]="category">
        <option value="" disabled selected>Select a category</option>
        <option *ngFor="let category of categories" [value]="category.title">
          {{ category.title }}
        </option>
      </select>
      <span class="form-error-message" *ngIf="errors.category">{{ errors.category }}</span>
    </div>
    <div class="form-group">
      <label class="form-group__label">Description</label>
      <textarea class="form-group__textarea" rows="4" placeholder="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis, sequi." name="description" [(ngModel)]="description"></textarea>
      <span class="form-error-message" *ngIf="errors.description">{{ errors.description }}</span>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label class="form-group__label">Prep Time (minutes)</label>
        <input class="form-group__input" type="number" min="1" placeholder="30" name="prepTime" [(ngModel)]="prepTime">
        <span class="form-error-message" *ngIf="errors.prepTime">{{ errors.prepTime }}</span>
      </div>
      <div class="form-group">
        <label class="form-group__label">Servings</label>
        <input class="form-group__input" type="number" min="1" placeholder="5" name="servings" [(ngModel)]="servings">
      </div>
    </div>
    <div class="form-group">
      <label class="form-group__label">Ingredients</label>
      <div class="ingredients-list">
        <div class="ingredient-item" *ngFor="let item of ingredients; let ind = index">
          <div class="ingredient-item__meaning">{{ item.name }}</div>
          <div class="ingredient-item__meaning">{{ item.amount }}</div>
          <div class="ingredient-item__meaning">{{ item.unit }}</div>
          <button type="button" class="form-group__remove-button" (click)="removeIngredient(ind)">×</button>
        </div>
        <div class="ingredient-item">
          <input class="form-group__input" type="text" placeholder="Ingredient name" name="ingredientName" [(ngModel)]="ingredientName">
          <input class="form-group__input" type="number" placeholder="Amount" name="ingredientAmount" [(ngModel)]="ingredientAmount">
          <select class="form-group__select" name="ingredientUnit" [(ngModel)]="ingredientUnit">
            <option value="" disabled selected>Select a unit</option>
            <option value="mg">mg</option>
            <option value="g">g</option>
            <option value="kg">kg</option>
            <option value="ml">ml</option>
            <option value="l">l</option>
            <option value="mm">mm</option>
            <option value="cm">cm</option>
            <option value="teaspoon">teaspoon</option>
            <option value="tablespoon">tablespoon</option>
            <option value="cup">cup</option>
          </select>
        </div>
        <div class="ingredient-item">
          <span class="form-error-message">{{ errors.ingredientName }}</span>
          <span class="form-error-message">{{ errors.ingredientAmount }}</span>
          <span class="form-error-message">{{ errors.ingredientUnit}}</span>
        </div>
      </div>
      <button type="button" class="form-group__add-button" (click)="addIngredient()">Add Ingredient</button>
    </div>
    <div class="form-group">
      <label class="form-group__label">Instructions</label>
      <div class="instructions-list">
        <div class="instruction-item" *ngFor="let item of instructions; let ind = index">
          <div class="instruction-item__meaning">{{ item }}</div>
          <button type="button" class="form-group__remove-button" (click)="removeInstruction(ind)">×</button>
        </div>
        <div class="instruction-item">
          <textarea class="form-group__textarea" rows="2" placeholder="Step description" name="instructionStep" [(ngModel)]="instructionStep"></textarea>
        </div>
        <span class="form-error-message" *ngIf="errors.instructionStep">{{ errors.instructionStep }}</span>
      </div>
      <button type="button" class="form-group__add-button" (click)="addInstruction()">Add Step</button>
    </div>
    <div class="form-group">
      <label class="form-group__label">Featured Image</label>
      <div class="selected-files">
        <div *ngFor="let item of filesPreview; let ind = index" class="selected-files__item">
          <button class="selected-files__remove" (click)="removeFile(ind)">×</button>
          <img class="selected-files__image" *ngIf="item.type.startsWith('image/')" [src]="item.url" alt="">
          <video class="selected-files__video" *ngIf="item.type.startsWith('video/')" [src]="item.url" controls></video>
        </div>
        <div class="selected-files__item">
          <div class="form-group__file-upload">
            <label class="form-group__upload-label">
              <input class="form-group__upload-input" type="file" accept="image/*, video/*"  (change)="handleFileInput($event)" multiple>
              <span>+</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <span class="form-error-message" *ngIf="errors.general">{{ errors.general }}</span>
        <button class="form-group__submit-button" type="submit" (click)="handleSubmit()">
            <svg *ngIf="isLoading" class="spinner" viewBox="0 0 50 50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
            </svg>
            <span class="form-buttontext" *ngIf="!isLoading">Publish post</span>
        </button>
  </form>
</main>
<app-footer />