<app-header />
<main class="main">
  <h1 class="page-title">Add New Recipe Post</h1>
  <form class="add-recipe-form">
    <div class="form-group">
      <label class="form-group__label">Title</label>
      <input class="form-group__input" type="text" placeholder="Very tasty cake">
    </div>
    <select class="form-group__select">
      <option value="" disabled selected>Select a category</option>
      <option *ngFor="let category of categories" [value]="category.id">
        {{ category.title }}
      </option>
    </select>
    <div class="form-group">
      <label class="form-group__label">Description</label>
      <textarea class="form-group__textarea" rows="4" placeholder="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis, sequi."></textarea>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label class="form-group__label">Prep Time (minutes)</label>
        <input class="form-group__input" type="number" min="1" placeholder="30">
      </div>
      <div class="form-group">
        <label class="form-group__label">Servings</label>
        <input class="form-group__input" type="number" min="1" placeholder="5">
      </div>
    </div>
    <div class="form-group">
      <label class="form-group__label">Ingredients</label>
      <div class="ingredients-list">
        <div class="ingredient-item">
          <input class="form-group__input" type="text" placeholder="Amount">
          <input class="form-group__input" type="text" placeholder="Ingredient name">
          <button type="button" class="form-group__remove-button">×</button>
        </div>
      </div>
      <button type="button" class="form-group__add-button">Add Ingredient</button>
    </div>
    <div class="form-group">
      <label class="form-group__label">Instructions</label>
      <div class="instructions-list">
        <div class="instruction-item">
          <textarea class="form-group__textarea" rows="2" placeholder="Step description"></textarea>
          <button type="button" class="form-group__remove-button">×</button>
        </div>
      </div>
      <button type="button" class="form-group__add-button">Add Step</button>
    </div>
    <div class="form-group">
      <label class="form-group__label">Featured Image</label>
      <div class="form-group__file-upload">
        <label class="form-group__upload-label">
          <input class="form-group__upload-input" type="file" accept="image/*" multiple>
          <span>Choose files</span>
        </label>
      </div>
    </div>
    
    <button type="submit" class="form-group__submit-button">Publish Post</button>
  </form>
</main>
<app-footer />