<main class="main">
    <form class="auth-form">
        <h1>Login</h1>
        <div class="auth-form__group">
            <img src="/assets/icons/mailIcon.svg" alt="email icon" class="auth-form__icon">
            <input type="text" name="email" class="auth-form__input" placeholder="Email">
        </div>
        <div class="auth-form__group">
            <img src="/assets/icons/lockIcon.svg" alt="password icon" class="auth-form__icon">
            <input type="password" name="password" class="auth-form__input" placeholder="Password">
        </div>
        <button class="auth-form__button" type="submit">Login</button>
        <div class="auth-form__footer">Don’t have an account? <a routerLink="/signup" class="auth-form__link">Sign up</a></div>
    </form>
</main>