<div class="main">
    <form class="auth-form">
        <h1>SIGN UP</h1>
        <div class="auth-form__group">
            <img src="/assets/icons/user.svg" alt="fullname icon" class="auth-form__icon">
            <input type="text" name="fullname" class="auth-form__input" placeholder="Full Name" [(ngModel)]="fullname">
        </div>
        <span class="form-error-message" *ngIf="errors.fullname">{{ errors.fullname }}</span>
        <div class="auth-form__group">
            <img src="/assets/icons/mail.svg" alt="email icon" class="auth-form__icon">
            <input type="text" name="email" class="auth-form__input" placeholder="Email" [(ngModel)]="email">
        </div>
        <span class="form-error-message" *ngIf="errors.email">{{ errors.email }}</span>
        <div class="auth-form__group">
            <img src="/assets/icons/lock.svg" alt="password icon" class="auth-form__icon">
            <input type="password" name="password" class="auth-form__input" placeholder="Password" [(ngModel)]="password">
        </div>
        <span class="form-error-message" *ngIf="errors.general || errors.password">{{ errors.general || errors.password }}</span>
        <button class="auth-form__button" type="submit" (click)="handleSubmit()">
            <svg *ngIf="isLoading" class="spinner" viewBox="0 0 50 50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
            </svg>
            <span class="submit-button-text" *ngIf="!isLoading">Sign Up</span>
        </button>
        <div class="auth-form__footer">Do you have an account? <a (click)="switchForm.emit()" class="auth-form__link">Login</a></div>
    </form>
</div>