<main class="main">
    <form class="auth-form">
        <h1>Login</h1>
        <div class="auth-form__group">
            <img src="/assets/icons/mailIcon.svg" alt="email icon" class="auth-form__icon">
            <input type="text" name="email" class="auth-form__input" placeholder="Email" [(ngModel)]="email">
        </div>
        <span class="form-error-message" *ngIf="errors.email">{{ errors.email }}</span>
        <div class="auth-form__group">
            <img src="/assets/icons/lockIcon.svg" alt="password icon" class="auth-form__icon">
            <input type="password" name="password" class="auth-form__input" placeholder="Password" [(ngModel)]="password">
        </div>
        <span class="form-error-message" *ngIf="errors.general || errors.password">{{ errors.general || errors.password }}</span>
        <button class="auth-form__button" type="submit" (click)="handleSubmit()">
            <svg *ngIf="isLoading" class="spinner" viewBox="0 0 50 50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
            </svg>
            <span class="submit-button-text" *ngIf="!isLoading">Login</span>
        </button>
        <div class="auth-form__footer">Don’t have an account? <a routerLink="/signup" class="auth-form__link">Sign up</a></div>
    </form>
</main>